/* Стили шаблона админки */
.main {
    display: flex;
}

.main nav {
    min-width: 20%;
}

/* Стили форм редактирования */
.admin-form {

}

.admin-form input,
.admin-form textarea {
    width: 100%;
}

.admin-form textarea {
    min-height: 400px;
}

.admin-form .row {
    margin-top: 10px;
}
